{% extends 'base.html.twig' %}

{% block title %}WishList{% endblock %}

{% block body %}

    <div>
        <h1>{{ wish_list.name }}</h1>
        <h2>Tirage au sort</h2>
        <a href="{{ path('app_random_proposition', {slug: wish_list.slug}) }}">Effectuer un tirage au sort</a>
        <h2>Etiquettes</h2>
        {% if wish_list.labels is not empty %}
            <ul>
            {% for label in wish_list.labels %}
                <li style="background-color: {{ label.color }}">{{ label.name }}</li>
            {% endfor %}
            </ul>
        {% else %}
            Cette liste n'a pas encore d'étiquette
        {% endif %}
        <a href="{{ path('app_label_new', {slug: wish_list.slug}) }}">Créer une nouvelle étiquette</a>
        <hr>

        <h2>Voeux</h2>
            {% if wish_list.propositions is not empty %}
                <ul>
                    {% for proposition in wish_list.propositions %}
                        <li>
                            <ul>
                                <li>{{ proposition.content }}</li>
                                <li>{{ proposition.difficulty }}</li>
                                {% if proposition.labels is not empty %}
                                <li>
                                    {% for label in proposition.labels %}
                                        <span style="background-color: {{ label.color }}">{{ label.name }}</span>
                                    {% endfor %}
                                </li>

                                {% endif %}
                                <li>{% if proposition.done %}
                                        plop
                                    {% endif %}
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                Cette liste n'a pas encore d'invité
            {% endif %}

        <a href="{{ path('app_proposition_new', {slug: wish_list.slug}) }}">Créer une nouvelle proposition</a>
        <hr>

        <h2>Invités</h2>
            {% if wish_list.contributors is not empty %}
                <ul>
                    {% for contributor in wish_list.contributors %}
                        <li>{{ contributor.username }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                Cette liste n'a pas encore d'invité
            {% endif %}
        <a href="{{ path('app_wish_list_addfriend', {slug: wish_list.slug}) }}">Ajouter un invité</a>
        <hr>

    </div>
    <table class="table">
        <tbody>

            <tr>
                <th>Name</th>
                <td>{{ wish_list.name }}</td>
                <td></td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_user') }}">back to user</a><br>

    <a href="{{ path('app_home') }}">home</a>


{% endblock %}
