{% extends 'base.html.twig' %}

{% block title %}WishList{% endblock %}

{% block body %}
<h1>{{ wish_list.name }}</h1>

    <section class="card">
        <h2>Tirage au sort</h2>
        <a href="{{ path('app_random_proposition', {slug: wish_list.slug}) }}" class="button">Effectuer un tirage au sort</a>
    </section>

    <section class="card">
        <h2>Etiquettes</h2>
        {% if wish_list.labels is not empty %}
            <ul>
            {% for label in wish_list.labels %}
                <li>{% include 'components/_label.html.twig' %}</li>
            {% endfor %}
            </ul>
        {% else %}
            Cette liste n'a pas encore d'étiquette
        {% endif %}
        <a href="{{ path('app_label_new', {slug: wish_list.slug}) }}" class="button">Créer une nouvelle étiquette</a>
    </section>

    <section class="card">
        <h2>Voeux</h2>
            {% if wish_list.propositions is not empty %}
                <div class="card-contenair">
                    {% set counter = 0 %}
                    {% for proposition in wish_list.propositions %}
                            {% if proposition.creator == app.user %}
                                <a href="{{ path('app_proposition_show', {id: proposition.id}) }}" class="card-link">{% include 'components/_proposition.html.twig' %}</a>
                            {% else %}
                                {% set counter = counter + 1 %}
                            {% endif %}
                    {% endfor %}
                </div>
                <p>Il y a {{ counter }} voeux qui ont été fait par d'autres personnes.</p>
            {% else %}
                Cette liste n'a pas encore de proposition.
            {% endif %}

        <a href="{{ path('app_proposition_new', {slug: wish_list.slug}) }}">Créer une nouvelle proposition</a>
    </section>

    <section  class="card">
        <h2>Invités</h2>
            {% if wish_list.contributors is not empty %}
                <ul>
                    {% for contributor in wish_list.contributors %}
                        <li>{{ contributor.username }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                Cette liste n'a pas encore d'invité
            {% endif %}
        <a href="{{ path('app_wish_list_addfriend', {slug: wish_list.slug}) }}">Ajouter un invité</a>

    </section>




    <a href="{{ path('app_user') }}">back to user</a><br>

    <a href="{{ path('app_home') }}">home</a>


{% endblock %}
