{% extends 'base.html.twig' %}

{% block title %}Proposition{% endblock %}

{% block body %}
    <h1>Proposition</h1>

   {% include 'components/_proposition.html.twig' %}

    {% include 'components/_proposition_comments.html.twig' %}

    <p><a href="{{ path('app_proposition_changestate', {id: proposition.id}) }}" class="button">Changer l'état</a></p>

    <p><a href="{{ path('app_add_comment', {id: proposition.id}) }}" class="button">Ajouter un commentaire</a></p>

    <p><a href="{{ path('app_wish_list_show', {slug: proposition.wishlist.slug}) }}" class="button">{{ proposition.wishlist.name }}</a></p>


{#    <a href="{{ path('app_proposition_edit', {'id': proposition.id}) }}">edit</a>#}

{#    {{ include('proposition/_delete_form.html.twig') }}#}
{% endblock %}
