{% extends 'base.html.twig' %}

{% block title %}Proposition{% endblock %}

{% block body %}
    <h1>Proposition</h1>

   {% include 'components/_proposition.html.twig' %}

    <a href="{{ path('app_proposition_changestate', {id: proposition.id}) }}">Changer l'état</a>

    <a href="{{ path('app_wish_list_show', {slug: proposition.wishlist.slug}) }}">{{ proposition.wishlist.name }}</a>


{#    <a href="{{ path('app_proposition_edit', {'id': proposition.id}) }}">edit</a>#}

{#    {{ include('proposition/_delete_form.html.twig') }}#}
{% endblock %}
